<app-header-nav></app-header-nav>

<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <img
          [src]="product.imageUrl"
          class="card-img-top mt-4"
          alt="productImg"
        />
      </div>
      <div class="col-lg-8">
        <div>
          <h5 class="mt-4">{{ product.name }}</h5>
          <hr />
          <p>{{ product.shortDescription }}</p>
          <p><span>Manufacturer: </span> {{ product.manufacturer }}</p>
          <p><span> Availability: </span>{{ product.isAvailable }}</p>
          <p><span>Quantity: </span> <input type="number" /></p>
          <p><span>Total Price:</span> {{ product.price }}$</p>
          <a class="btn btn-style" (click)="addToCart()">Add to cart</a>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <p>
        <span> About {{ product.name }}:</span> {{ product.fullDescription }}
      </p>
    </div>
  </div>
</div>
