<div class="main">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card">
            <img src="{{ product.imageUrl }}" class="card-img-top" alt=""/>
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.shortDescription }}</p>
              <p class="card-text">{{ product.price }}$</p>
              <a href="#" class="btn btn-style">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
