<app-header-nav></app-header-nav>

<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-5">
        <img
          [src]="product.imageUrl"
          class="mt-4 img-fluid img-thumbnail"
          alt="productImg"
        />
      </div>
      <div class="col-lg-7 col-md-7 col-sm-7">
        <div>
          <h5 class="mt-4">{{ product.name }}</h5>
          <hr />
          <p>{{ product.shortDescription }}</p>
          <p><span>Manufacturer: </span> {{ product.manufacturer }}</p>
          <p><span> Availability: </span>{{ product.isAvailable }}</p>
          <p class="form-inline">
            <span>Quantity: </span>
            <input
              type="number"
              class="form-control width-fix ml-3"
              [disabled]="sold"
              [(ngModel)]="quantity"
              (input)="onQuantityChange()"
              min="1"
            />
          </p>
          <p><span>Total Price:</span> {{ totalPrice }}$</p>
          <button class="btn btn-style" [disabled]="sold" (click)="addToCart()">
            Add to cart
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <p>
        <span> About {{ product.name }}:</span> {{ product.fullDescription }}
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
