@import "../../../styles.scss";

#logo {
  height: 50px;
  &:hover {
    color: darken($color-logo, 4);
    border-radius: 50px;
  }
}

.logo-text {
  color: $color-logo;
  height: 50px;
  text-shadow: 1px 1px 15px rgba(224, 209, 255, 0.94);
  &:hover {
    color: darken($color-logo, 4);
    font-weight: 800;
    cursor: pointer;
  }
}

.icon-style {
  height: 43px;
  &:hover {
    transition: 0.4s;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgba(208, 235, 221, 0.397);
  }
}

.search-style {
  border-radius: 15px;
  width: 50%;
  &:focus {
    transition: 0.5s;
    width: 80% !important;
    font-size: 1.3em;
    opacity: 1;
    color: #00bcd4;
  }
}
