@import "../../../../styles.scss";

.footer {
  margin-right: 0px;
  margin-left: 0px;
  height: 90px;
  width: 100%;
  background: url("../../../../assets/img/bg-pattern-blue.png");
  p {
    color: white;
  }
}
