<div class="col-lg-3 col-md-3 col-sm-3 bg-body">
  <app-sidebar></app-sidebar>
</div>

<div class="col-lg-9 col-md-8 col-sm-7 right mr-3 mt-3 ">
  <h1 class="mt-2 mb-4">Categories</h1>
  <div class="form-group form-inline">
    <p class="ml-3">Add new category</p>
    <button
      type="reset"
      class="btn btn-style ml-5"
      [routerLink]="['/add']"
      routerLinkActive="router-link-active"
    >
      Add New
    </button>
  </div>
  <form class="form-inline d-flex flex-row-reverse">
    <input
      class="form-control mr-sm-2"
      type="text"
      name="search"
      placeholder="Search by name"
      aria-label="Search"
      [(ngModel)]="searchName"
      (input)="resetSearch()"
    />
    <i
      *ngIf="showSearch"
      class="fas fa-times-circle"
      (click)="clearSearch()"
    ></i>
    <button
      class="btn btn-dark my-2 my-sm-0 mr-1"
      type="submit"
      (click)="search()"
    >
      Search
    </button>
  </form>
  <table class="table table-striped">
    <thead>
      <tr class="head-row">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Parent Category</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="">
      <tr *ngFor="let item of categories">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.parentCategoryId }}</td>

        <td>
          <button
            class=" btn-dark mr-2"
            id="edit"
            (click)="editCategory(item.id)"
            [routerLink]="['/edit']"
            routerLinkActive="router-link-active"
          >
            <i class="fas fa-edit"></i>
          </button>
          <button
            class="inline btn-dark"
            id="delete"
            (click)="removeCategory(item.id); success()"
          >
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
