@import "../../../../styles.scss";

.right {
  float: right;
  width: 100%;
}

.jumbotron {
  background: $bg-body;
}

.btn-style {
  background-color: $color-btn;
  color: $light-text;
  border: 1px solid $primary-color;
  font-family: $btn-text;
  &:hover {
    background-color: lighten($color-btn, 4);
  }
}

button{
  img{
    height: 35px;
  }
}

.icon-style {
  height: 35px;
  &:hover {
    transition: 0.4s;
    cursor: pointer;
    border-radius: 15px;
    &.del {
      background-color: rgba(255, 0, 0, 0.205);
    }
    &.edit {
      background-color: rgba(28, 146, 91, 0.239);
    }
  }
}

.btn-dark {
  background-color: $color-btn;
  color: $light-text;
  font-family: $btn-text;
  border: none;
  border-radius: 12px;
}
//   i {
//     color: rgb(204, 135, 132);
//     &.fa-edit {
//       color: #f0f2a6;
//     }
//   }
// }

.search-style {
  border-radius: 15px;
  width: 50%;

  &:focus {
    transition: 0.5s;
    width: 80% !important;
    font-size: 1.3em;
    opacity: 1;
    color: #00bcd4;
  }
}

.head-row {
  background: url("../../../../assets/img/bg-pattern-blue.png");
  color: $light-text;
}
