@import "../../../../styles.scss";
@import "../header-nav/header-nav.component.scss";

.main {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.459),
      rgba(255, 255, 255, 0.3)
    ),
    url("../../../../assets/img/bg-portal.jpg");
  background-size: cover;
  min-height: calc(100vh - 90px);
}

div.card {
  text-align: center;
  margin: 17px 0px;
  .card-text {
    height: 10px;
  }
  .card-img-top {
    height: 200px;
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
  }
}

.btn-style {
  background-color: $color-btn;
  color: $light-text;
  border: 1px solid $primary-color;
  font-family: $btn-text;
  &:hover {
    background-color: lighten($color-btn, 4);
  }
}

@media (max-width: 576px) {
  .display-center {
    display: flex;
    justify-content: center;
  }
  .card {
    width: 80%;
    display: block;
    .card-img-top {
      height: 200px;
      width: 250px;
      padding: 10px;
      // max-width: 100%;
      max-height: 100%;
    }
  }
}
