@import "../../../../styles.scss";
@import "../header-nav/header-nav.component.scss";

.main {
  background: $bg-body;
  min-height: calc(100vh - 90px);
}

div .card {
  text-align: center;
  margin: 10px 0px;
  font-family: $font-btn;
  .card-title {
    font-weight: 700;
  }
  .card-text {
    font-size: 0.8em;
    color: rgb(86, 112, 112);
    font-weight: 400;
    .available {
      background: #2fca2f;
      color: #2fca2f;
      font-size: 5px;
      box-shadow: 0px -2px 12px 4px #2fca2f;
    }
    .not-available {
      background: red;
      color: red;
      font-size: 5px;
      box-shadow: 0px -2px 12px 4px  red;
    }
  }
  .card-price {
    font-size: 0.9em;
    font-weight: 700;
  }
  .card-img-top {
    height: 200px;
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
  }
}

.btn-style {
  background-color: $color-btn;
  color: $light-text;
  border: 1px solid $primary-color;
  font-family: $font-btn;
  &:hover {
    background-color: lighten($color-btn, 4);
  }
}

@media (max-width: 576px) {
  .display-center {
    display: flex;
    justify-content: center;
  }
  .card {
    width: 80%;
    display: block;
    .card-img-top {
      height: 200px;
      width: 250px;
      padding: 10px;
      // max-width: 100%;
      max-height: 100%;
    }
  }
}
