<div class="main">
  <div class="container">
      <ngx-spinner
      bdOpacity = 0.2
      bdColor = "#333"
      size = "medium"
      color = "#fff"
      type = "ball-atom"
      fullScreen = "false"
      >
      <p style="color: white" > Loading... </p>
      </ngx-spinner>

    <div class="row">
      <div
        class="col-lg-3 col-md-4 col-sm-6 display-center"
        *ngFor="let item of products; let i = index"
      >
        <div class="card">
          <img
            [src]="item.imageUrl"
            class="card-img-top cursor-pointer"
            alt=""
            [routerLink]="['/portal', 'view', item.id]"
            routerLinkActive="router-link-active"
          />
          <div class="card-body">
            <h5
              class="card-title  cursor-pointer"
              [routerLink]="['/portal', 'view', item.id]"
              routerLinkActive="router-link-active"
            >
              {{ item.name }}
            </h5>
            <p class="card-text">{{ item.shortDescription }}</p>
            <p class="card-text">{{ item.price }}$</p>
            <button class="btn btn-style"  [disabled]="sold" (click)="addToCart(i)">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
