<div class="row head align-items-center">
    <div class="overlay"></div>
    <div class="col-lg-3 col-md-3 col-sm-1 col-xs-2">
      <div class="d-flex">
        <a class="navbar-brand justify-content-end" [routerLink]="['']">
          <img
            id="logo"
            class="d-inline"
            src="../../../assets/img/logoo.png"
            alt="chinabay"
          />
          <p class="logo-text d-inline">Tech Buy</p>
        </a>
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-10 col-xs-9">
      <form
class="form-inline flex-row-reverse justify-content-center align-items-center"
>
<img
  src="../../../../assets/img/icons8-search-512.png"
  alt="search"
  class="icon-style edit"
  (click)="search()"
/>

<input
  class="form-control search-style"
  type="search"
  name="search" placeholder="Search by name"
  aria-label="Search"
  [(ngModel)]="searchName"
  (input)="resetSearch()"
/>
</form>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button
      class="navbar-toggler justify-content-end"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link"
            >All Products <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" >Computers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Electronics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >TV</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"

            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            All Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <ul *ngFor="let category of categories">
              <li>
                <a class="dropdown-item" href="#">{{ category.name }}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-1 col-xs-2">
      <img
        class="logo-text"
        src="../../../assets/img/icons8-checkout-96.png"
        alt="logo"
        [routerLink]="['/cart']" routerLinkActive="router-link-active"
      /> <span> ({{ itemsCount }}) </span>
    </div>
  </nav>
