@import "../../../../styles.scss";

.head {
  margin-right: 0px;
  margin-left: 0px;
  height: 90px;
  background: url("../../../../assets/img/bg-pattern-blue.png");
}

#logo {
  height: 50px;
}

.logo-text {
  color: $color-logo;
  height: 35px;
  text-shadow: 1px 1px 15px rgba(224, 209, 255, 0.94);
  &:hover {
    color: darken($color-logo, 4);
    font-weight: 800;
    cursor: pointer;
  }
}

.icon-style {
  height: 35px;
  &:hover {
    transition: 0.4s;
    cursor: pointer;
  }
}

div {
  .counter {
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 15px;
    padding: 0px 8px;
    font-weight: 800;
    font-size: 14px;
    margin: 5px 5px 8px 0px;
  }
}

.nav-link {
  margin: 0px 8px;
}

.search-style {
  border-radius: 15px;
  width: 75%;
  &:focus {
    transition: 0.5s;
    transform: scaleX(70px);
    font-size: 1.3em;
    opacity: 1;
    color: #00bcd4;
  }
}

@media (max-width: 576px) {
  .head{
    height: 120px;
  }
  #logo {
    height: 40px;
}
  .upper-row{
    max-width: 100%;
  }
  .d-flex {
    justify-content: center;
    height: 36px;
}
  .down-row-left{
max-width: 75%;
  }
  .down-row-rigth{
    max-width: 25%;
  }

  &.search-style {
    width: 85%;
}
}
