@import "../../../../styles.scss";

.head {
  margin-right: 0px;
  margin-left: 0px;
  height: 90px;
  background: $color-bg-dark;
}

.menu {
  background: $color-bg-blue;
  .nav-link {
    color: $light-text;
    font-family: $font-btn;
  }
  .dropdown-item {
    list-style-type: none;
  }
  .navbar-toggler {
    background-color: white;
  }
}

#logo {
  height: 50px;
}

.logo-text {
  color: $color-logo;
  height: 35px;
  font-family: $font-logo;
  &:hover {
    color: lighten($color-logo, 4);
    cursor: pointer;
  }
}

.icon-style {
  height: 35px;
  color: $light-text;

  &:hover {
    transition: 0.4s;
    cursor: pointer;
  }
}
.admin-icon {
  margin-right: 10px;
}

div {
  .counter {
    background-color: $light-text;
    border-radius: 15px;
    padding: 0px 8px;
    font-weight: 800;
    font-size: 14px;
    margin: 5px 5px 8px 0px;
  }
}

.nav-link {
  margin: 0px 8px;
}

.search-style {
  border-radius: 15px;
  width: 75%;
  &:focus {
    transition: 0.5s;
    transform: scaleX(70px);
    font-size: 1.3em;
    opacity: 1;
    color: $primary-color;
  }
}

@media (max-width: 576px) {
  .head {
    height: 120px;

    #logo {
      height: 40px;
    }
    .upper-row {
      max-width: 100%;
    }
    .d-flex {
      justify-content: center;
      height: 36px;
    }
    .down-row-left {
      max-width: 75%;
    }
    .down-row-rigth {
      max-width: 25%;
    }

    &.search-style {
      width: 85%;
    }
  }
}
