.icon-style {
  height: 35px;
  &:hover {
    transition: 0.4s;
    cursor: pointer;
    border-radius: 15px;
    &.del {
      background-color: rgba(255, 0, 0, 0.205);
    }
  }
}

.btn-minus{
  background: #d6434386;
  color: black;
  border-radius: 1.1em;
  font-size:17px;
  font-weight: 700;
}

.btn-plus{
  background: rgba(41, 175, 112, 0.459);
  color: black;
  border-radius: 1.1em;
  font-size:17px;
  font-weight: 700;
}

.rigth{
  float: right;
}
