<app-header-nav></app-header-nav>

<div class="container">
  <h1 class="well title-cart">Shopping Cart</h1>
  <hr />
  <p *ngIf="shoppingLength === 0">Your cart is empty</p>
  <!-- <div class="">
  <ul class="row d-flex justify-content-center">
    <li class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Picture</li>
    <li class="col-lg-3 col-md-3 col-sm-2 col-xs-3">Product</li>
    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Price</li>
    <li class="col-lg-3 col-md-3 col-sm-2 col-xs-3">Quantity</li>
    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Total Price</li>
    <li class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Remove</li>
  </ul>
  <ul  class="row d-flex justify-content-center" *ngFor="let item of shoppingCart; let i = index">
    <li class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><img [src]="item.imageUrl" alt="" height="40px" /></li>
    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">{{ item.name }}</li>
    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{ item.price }}$</li>
    <li class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend justify-content-around" id="">
          <button
            class="btn btn-outline-secondary btn-minus"
            type="button"
            (click)="decrease(i); updateQuantity(i, item.quantity)"
          >
            -
          </button>
        </div>
        <input
          type="text"
          class="form-control width-fix"
          placeholder=""
          aria-label="Example text with two button addons"
          aria-describedby="button-addon3"
          [(ngModel)]="item.quantity"
          value="item.quantity"
          (input)="updateQuantity(i, item.quantity)"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary btn-plus"
            type="button"
            (click)="increase(i); updateQuantity(i, item.quantity)"
          >
            +
          </button>
        </div>
      </div>
    </li>

    <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 align-center">{{ item.price * item.quantity }}</li>
    <li class="col-lg-1 col-md-1 col-sm-1 col-xs-1 align-center">
      <div class="d-flex justify-content-around">
        <img
          src="../../../../assets/img/icons8-trash-96.png"
          class="icon-style del"
          alt="delete"
          (click)="del(i)"
        />
      </div>
    </li>
  </ul>
</div> -->

  <table class="table fluid">
    <thead>
      <tr class="">
        <th>Picture</th>
        <th>Product</th>
        <th>Price</th>
        <th class="align-center col-quantity">Quantity</th>
        <th class="align-center">Total Price</th>
        <th class="align-center">Remove</th>
      </tr>
    </thead>
    <tbody class="table table-striped ">
      <tr *ngFor="let item of shoppingCart; let i = index">
        <td><img [src]="item.imageUrl" alt="" height="40px" /></td>
        <td class="col10">{{ item.name }}</td>
        <td>{{ item.price }}$</td>
        <td class="align-center">
          <input
            type="number"
            class="form-control width-fix"
            [(ngModel)]="item.quantity"
            value="item.quantity"
            (input)="updateQuantity(i, item.quantity)"
            min="1"
          />
        </td>

        <td class="col10 align-center">{{ item.price * item.quantity }}</td>
        <td class="col10">
          <div class="d-flex justify-content-around">
            <img
              src="../../../../assets/img/icons8-trash-96.png"
              class="icon-style del"
              alt="delete"
              (click)="del(i)"
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <hr />
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6"></div>
    <div class="col-lg-4 col-md-5 col-sm-6">
      <p class="total">Total: {{ total }} $</p>
      <button class="btn btn-style" (click)="onCheckout()">Checkout</button>
      <button
        class="btn btn-secondary ml-1"
        type="submit"
        (click)="emptyCart()"
      >
        Clear Cart
      </button>
    </div>
  </div>
</div>
