<app-header-nav></app-header-nav>

<ngx-spinner
bdOpacity = 0.8
bdColor = "rgb(28, 146, 91);"
size = "medium"
color = "#4f83e0"
type = "pacman"
fullScreen = "false"
>
<p style="color: rgb(57, 64, 104)" > Loading... </p>
</ngx-spinner>

<div class="container">
  <h1 class="well">Shopping Cart</h1>
  <hr />
  <p *ngIf="shoppingLength === 0">Your cart is empty</p>
  <table class="table table-striped">
    <thead>
      <tr class="head-row">
        <th scope="col">Picture</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Price</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody class="">
      <tr *ngFor="let item of shoppingCart; let i = index">
        <td><img [src]="item.imageUrl" alt="" height="40px" /></td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}$</td>
        <td>
          <span>
            <button
              class="btnMinus"
              (click)="decrease(i); updateQuantity(i, item.quantity)"
            >
              -
            </button>
            <input
              [(ngModel)]="item.quantity"
              value="item.quantity"
              (input)="updateQuantity(i, item.quantity)"
            />
            {{ item.quantity }}
            <button
              type="button"
              class="btnPlus"
              (click)="increase(i); updateQuantity(i, item.quantity)"
            >
              +
            </button>
          </span>
        </td>

        <td>{{ item.price * item.quantity }}</td>
        <td>
          <div class="d-flex justify-content-around">
            <img
              src="../../../../assets/img/icons8-trash-96.png"
              class="icon-style del"
              alt="delete"
              (click)="del(i)"
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <hr />
  <p>Total: {{ total }} $</p>
  <button class="btn btn-primary" (click)="onCheckout()">Checkout</button>
  <button class="btn btn-secondary" type="submit" (click)="emptyCart()">
    Clear Cart
  </button>
</div>
