<app-header-nav></app-header-nav>

<div class="container">
  <h1 class="well title-cart">Shopping Cart</h1>
  <hr />
  <p *ngIf="shoppingLength === 0">Your cart is empty</p>
  <table class="table fluid">
    <thead>
      <tr class="">
        <th>Picture</th>
        <th>Product</th>
        <th>Price</th>
        <th class="align-center col-quantity">Quantity</th>
        <th class="align-center">Total Price</th>
        <th class="align-center">Remove</th>
      </tr>
    </thead>
    <tbody class="table table-striped ">
      <tr *ngFor="let item of shoppingCart; let i = index">
        <td><img [src]="item.imageUrl" alt="" height="40px" /></td>
        <td class="col10">{{ item.name }}</td>
        <td>{{ item.price }}$</td>
        <td class="align-center">
          <input
            type="number"
            class="form-control width-fix"
            [(ngModel)]="item.quantity"
            value="item.quantity"
            (input)="updateQuantity(i, item.quantity)"
            min="1"
          />
        </td>

        <td class="col10 align-center">{{ item.price * item.quantity }}</td>
        <td class="col10">
          <div class="d-flex justify-content-around">
            <img
              src="../../../../assets/img/icons8-trash-96.png"
              class="icon-style del"
              alt="delete"
              (click)="del(i)"
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <hr />
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6"></div>
    <div class="col-lg-4 col-md-5 col-sm-6">
      <p class="total">Total: {{ total }} $</p>
      <button class="btn btn-style" (click)="onCheckout()">Checkout</button>
      <button
        class="btn btn-secondary ml-1"
        type="submit"
        (click)="emptyCart()"
      >
        Clear Cart
      </button>
    </div>
  </div>
</div>
