.icon-style {
  height: 35px;
  &:hover {
    transition: 0.4s;
    cursor: pointer;
    border-radius: 15px;
    &.del {
      background-color: rgba(255, 0, 0, 0.205);
    }
  }
}


.btnMinus{
  background: #f44336;
  border-radius: 1.1em;
  font-size: 17px;
  font-weight: normal;
  margin:0px 15px 0px 25px;
}

.btnPlus{
  background: #4CAF50;
  border-radius: 1.1em;
  font-size:17px;
  font-weight: 500;
  margin:0px 0px 0px 15px;
}
