<div class="row">
  <div class="col-lg col-md-4 col-sm-5 bg-body">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 right mt-3 ">
    <h1 class="mt-2 mb-4">Products</h1>
    <div class="form-group form-inline">
      <button
        type="reset"
        class="btn btn-style ml-5"
        [routerLink]="['/products/add']"
        routerLinkActive="router-link-active"
      >
        Add New
      </button>
    </div>
    <form class="form-inline d-flex flex-row-reverse">
      <input
        class="form-control mr-sm-2"
        type="text"
        name="search"
        placeholder="Search by name"
        aria-label="Search"
        [(ngModel)]="searchName"
        (input)="resetSearch()"
      />
      <i
        *ngIf="showSearch"
        class="fas fa-times-circle"
        (click)="clearSearch()"
      ></i>
      <button
        class="btn btn-dark my-2 my-sm-0 mr-1"
        type="submit"
        (click)="search()"
      >
        Search
      </button>
    </form>
    <table class="table table-striped">
      <thead>
        <tr class="head-row">
            <th scope="col">Picture</th>
          <th scope="col">Name</th>
          <th scope="col">Categories</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody class="">
        <tr *ngFor="let item of products">
          <td> <img [src]="item.imageUrl" alt="" height="40px"> </td>
          <td>{{ item.name }}</td>
          <td>{{ item.categoryId }}</td>
          <td>{{ item.price }}</td>

          <td>
            <button
              class=" btn-dark mr-2"
              id="edit"
              [routerLink]="['/products', 'edit', item.id]"
              routerLinkActive="router-link-active"
            >
              <i class="fas fa-edit"></i>
            </button>
            <button
              class="inline btn-dark"
              id="delete"
              (click)="openModalWithComponent(item.id, 'deleteProduct')"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-1"></div>
</div>
