@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$primary-color:#2e3458;
$secondary-color:#AA6373;
$dark-text: rgb(49, 47, 95);
$light-text: #F7F7FF;
$background-color:#F1F2EB;
$body-txt: 'Padauk', sans-serif;
$btn-text: 'Londrina Solid', cursive;

body{
  margin: 0;
  padding: 0;
  background-color: $background-color;
  font-family: $body-txt;
  font-size: 1.2em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
